[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
sklearn = "*"
numpy = "*"
pandas = "*"
tweepy = "*"
pymongo = "*"
retry = "*"
pillow = "*"
matplotlib = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.6"
